body {
  font-family: Arial, Helvetica, sans-serif;
}
.quote {
  font-size: 34px;
  font-style: italic;
}

.greetings, .logo {
  font-size: 24px;
  font-weight:bold;
}

.calculator {
  width: 700px;
}
nav, .calculator-wrap {
  display: flex;
  padding: 1rem 2rem;
  justify-content: space-between
}

.links{
  margin-right: 7px;
}

.display {
  color: #fff;
  background-color: #B6B7BC;
  text-align: right;
  padding-right: 12px;
  height: 100px;
  font-weight: bold;
  margin-bottom:0;
  display: flex;
  align-items: center;
  justify-content: flex-end;

}

.calculator-container {
  padding: 0 1rem;
}

.buttons-container {
  width: 100%;
  display:flex;
  font-weight: bold;
  font-size: 24px;
}

.all-buttons {
  height: 100px;
  text-align: center;
  color: #222;
  border: 1px solid #D1D1D1;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.buttons {
width: 25%;
}

.orange {
  background-color: #F5913E;
}

.orange:hover {
background-color: #da7828;;
}

.not-orange:hover {
background-color: #d1cece;
}

.button-zero {
  width: 50%;
}